/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";


@keyframes float {
    0% {
      transform: translateY(0px);
    }
    25%{
      transform:translateY(30px);
  
    }
    75%{
      transform:translateY(20px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(px);
    }
  }
.float-animation {
    animation: float 10s ease-in-out infinite;
  }
  @keyframes borderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  

}



@keyframes float3 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Apply the animation */
.float3-animation {
  animation: float3 1s ease-in-out infinite;
}

/* .social-icon {
  color: #342ead;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-10px); 
  color: #ff6d5a; 
} */
.dark {
  background-color: #252439 !important;
  color: #aaaaba !important;
}
.dark a {
  color: white !important;
}
.dark #one{
  color: white !important;
}
.dark #two{
  background-color: #444359 !important;
  color:#aaaaba !important;
}
.dark #three{
  background-color: #444359 !important;
  color:#aaaaba !important;
}